:root {
  --primary-color: #6c63ff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  font-size: 24px;
  opacity: 0.7;
}

p {
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
.yoga-picture {
  background: var(--secondary-color);
  padding: 100px 30px;
}
.weather-app-picture {
  background: var(--secondary-color);
  padding: 70px 5px;
}
.yogurt-picture {
  background: var(--secondary-color);
  padding: 30px 50px;
}

.contact {
  margin: 90px 0;
}
.yoga-grid,
.weather-app-grid,
.yogurt-grid {
  background: var(--secondary-color);
}
.yoga-about {
  background: var(--secondary-color);
  display: block;
  margin: 100px 0;
  width: 500px;
}
.weather-app-about {
  display: block;
  margin: 80px 0;
}
.yogurt-about {
  width: 90%;
}
@media (max-width: 768px) {
  .yoga-button,
  .weather-app-button,
  .yogurt-button {
    display: block;
    text-align: center;
  }
}
